#outer-wrapper {
    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#router-content {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 1rem auto 1rem auto;
    max-width: 480px;
    overflow-y: hidden;
    width: 85%;
}
