<div id="form-wrapper">

    <div id="dialog-header">
        <div id="header">{{ getLabel("step-5-header") }}</div>
    </div>

    <div id="dialog-content">
        <form [formGroup]="form" id="form">
            <!-- Lastname -->
            <mat-form-field>
                <mat-label>{{ getLabel('step-5-lastname') }}</mat-label>
                <input [inputTabStop]="input" data-tabindex="1" formControlName="lastname" matInput>
                <mat-error *ngIf="lastname.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="lastname.hasError('maxlength')">{{ getHint("maxLength", lastname.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Firstname -->
            <mat-form-field>
                <mat-label>{{ getLabel('step-5-firstname') }}</mat-label>
                <input [inputTabStop]="input" data-tabindex="2" formControlName="firstname" matInput>
                <mat-error *ngIf="firstname.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="firstname.hasError('maxlength')">{{ getHint("maxLength", firstname.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Nationality -->
            <mat-form-field>
                <mat-label>{{ getLabel('step-5-nationality') }}</mat-label>
                <mat-select [(value)]="selectedNationality" formControlName="nationality">
                    <mat-option *ngFor="let p of nationalities" [value]="p">
                        {{ p.description }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="nationality.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!nationality.hasError('required') && nationality.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Gender -->
            <mat-form-field>
                <mat-label>{{ getLabel('step-5-gender') }}</mat-label>
                <mat-select [(value)]="selectedGender" formControlName="gender">
                    <mat-option *ngFor="let p of genders" [value]="p">
                        {{ p.description }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="gender.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!gender.hasError('required') && gender.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Birthdate -->
            <mat-form-field>
                <mat-label>{{ getLabel('step-5-birthdate') }}</mat-label>
                <input [inputTabStop]="input" [matDatepicker]="picker" [max]="maxBirthDate" [min]="minBirthDate" [placeholder]="getLabel('birthdate')" data-tabindex="5" formControlName="birthdate" matInput>
                <mat-datepicker-toggle matSuffix [for]="picker" tabindex="-1"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="birthdate.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!birthdate.hasError('required')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
        </form>
    </div>

    <div id="dialog-footer">
        <button (click)="onClose()" class="transparent" mat-flat-button tabindex="-1">
            <span>{{ getLabel("step-5-cancel") }}</span>
        </button>
        <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button tabindex="-1">
            <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
            <span>{{ getLabel("step-5-ok") }}</span>
        </button>
    </div>

</div>
