.mat-mdc-select-value {
    font-family: var(--font-family-segoe-ui);
}

.mat-mdc-option.mdc-list-item .mdc-list-item__primary-text {
    color: var(--color-text);
    font-family: var(--font-family-segoe-ui);
    font-size: 0.875rem;
}

.mat-mdc-select-value-text {
    font-size: 0.875rem !important;
}

.mat-mdc-select-arrow svg {
    top: 100% !important;
}
