.mat-mdc-radio-group {
    display: flex !important;
    flex-direction: column;
    row-gap: 0.5rem;
}

.mat-mdc-radio-button {
    background-color: var(--color-input-background);
    padding: 1rem 1rem 1rem 1rem;
}

.mat-mdc-radio-button .mdc-radio {
    padding: 0 !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--color-accent) !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled + .mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--color-accent) !important;
}

.mdc-form-field > label {
    font-family: var(--font-family-asty) !important;
    font-size: 0.875rem !important;
    font-weight: 300;
}
