<div id="content">

    <div id="header">
        <div id="logo">{{ getLabel("logo")}}</div>
        <div id="step-caption">
            <span class="material-symbols-outlined step-number">counter_5</span>
            <span class="step-header">{{ getLabel("step-7-header") }}</span>
        </div>
    </div>

    <div class="blurry" id="completion-description">
        {{ getLabel("completion-description") }}
    </div>

    <div id="footer">
        <button (click)="ok()" class="accent" mat-flat-button>
            <span>{{ getLabel("ok") }}</span>
        </button>
    </div>

</div>
